body {
  background: #252525;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.basics-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.basics-wrapper {
  width: 90%;
  height: 100%;
}

.basics-title {
  color: white;
}

.basics-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 80px;
}

.basics-event-date {
  background-image: url("/assets/image/ellipse-top.webp");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top left;
  backdrop-filter: blur(23.5px);
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.basics-team-size {
  background-image: url("/assets/image/ellipse-right.webp");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: top right;
  backdrop-filter: blur(23.5px);
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.basics-registration-fee {
  background-image: url("/assets/image/ellipse-bottom.webp");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom left;
  backdrop-filter: blur(23.5px);
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.basics-hr {
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
  width: 50%;
}

.basics-sub-headings {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.basics-details {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}