
body {
  background: #252525;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  /* margin: 10px 60px 10px 60px; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  height: 100vh;
}

.leaderboard {
  color: white;
  font-weight: 800;
}

.table {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.09);
  background-size: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  background-image: url("/assets/image/ellipse.png");
  background-repeat: no-repeat;
  backdrop-filter: blur(23.5px);

}

.team-names {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-wrapper {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-top: 50px;
}

.team-names .teams {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(39, 33, 33, 0.7);
}